.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-width: 660px;
  max-width: 660px;
  background-color: #43414d;
}

.row {
  display: flex;
}
