.tile {
  width: 20px;
  height: 20px;
  border: 1px solid #545050;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.closed {
  background-color: #16151a;
  cursor: pointer;
}

.animate-closed {
  transition: 0.15s;
}

.closed:hover {
  background-color: #3f3134;
}

.closed:active:hover {
  background-color: #390802;
}

.open {
  background-color: #e8e8e8;
}

.mine {
  background-color: salmon;
  font-size: 14px;
}

.flag {
  font-size: 14px;
}

.highlighted {
  background-color: rgb(218, 213, 169);
}

.mine-tripped {
  background-color: #821200;
}
